/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start of my code
*/

a {
	color: rgb(100,100,100);
}

body {
    width: 1280px;
    margin: 0 auto; 
    font-variant: small-caps;
}

#LightBox {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 100;	
	display: none;
}

#CreateEventFormContainer {
	display: none;
	position: relative;
}

.ClockWorkOrange {
	height: 100px;
	width: 250px;
	background-image: url(../images/create.jpg);
	position: absolute; 
	right: 50px;
	top: 30px;
	border-radius: 4px;
	
}

.FormContainer {
	padding: 20px;
	background-color: white;
	border: 1px solid rgb(200,200,200);
	width: 600px;	
	margin: 0 auto;
	margin-top: 300px;
	border-radius: 8px;
	box-shadow: 0px 8px 8px -8px rgb(240,240,240);
	position: relative;
}

.ExitButton {
	float: right;
	color: red;
	font-weight: bold;
	font-size: 20px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: red;
	box-shadow: 0px 0px 4px red;
	cursor: pointer;
}

.ExitButton:hover {
	box-shadow: 0px 0px 12px red;
}

.colorpicker{
	z-index: 101;
}

.FormTitle {
	font-size: 18px;
}

.Label {
	width: 100px;
	display: inline-block;
}

.SubmitButton {
	width: 140px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    border: 1px solid rgb(200,200,200);
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FD', endColorstr='#4787ED');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4D90FD), to(#4787ED));
	background-image: -webkit-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -moz-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -o-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -ms-linear-gradient(top, #4D90FD, #4787ED);
	background-image: linear-gradient(top, #4D90FD, #4787ED);
	color: white;
}

textarea {
	border-radius: 4px;
	padding: 10px;
	width: 580px;
	border: 1px solid rgb(200,200,200);
	box-shadow: 0px 8px 8px -8px rgb(240,240,240);
	max-width: 580px;
}

.FormContainer input {
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px -4px rgb(200,200,200);
	border: 1px solid rgb(200,200,200);
	margin-left: 20px;
	margin-right: 20px;
}

#Header {
    height: 200px;
    position: relative;
    background-image: url('../images/header3.jpg');
    background-repeat: no-repeat;
}

#UserButton {
    position: absolute;
    top: 0px;
    right: 20px;
    padding: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid rgb(140,140,140);
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.8);
}

#UserButton:hover {
	box-shadow: 0px 0px 8px orange;
}

.ActionButton {
    position: absolute;
    width: 140px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    border: 1px solid rgb(200,200,200);
    cursor: pointer;
    color: white;
}

.ActionButton:hover {
	box-shadow: 0px 0px 8px orange;
}

#CreateEventButton {
    position: absolute;
    top: 160px;
    left: 20px;
    background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FD', endColorstr='#4787ED');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4D90FD), to(#4787ED));
	background-image: -webkit-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -moz-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -o-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -ms-linear-gradient(top, #4D90FD, #4787ED);
	background-image: linear-gradient(top, #4D90FD, #4787ED);

}

#DeleteEventButton {
    position: absolute;
    top: 160px;
    left: 180px;
    background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD4B39', endColorstr='#D14836');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DD4B39), to(#D14836));
	background-image: -webkit-linear-gradient(top, #DD4B39, #D14836);
	background-image: -moz-linear-gradient(top, #DD4B39, #D14836);
	background-image: -o-linear-gradient(top, #DD4B39, #D14836);
	background-image: -ms-linear-gradient(top, #DD4B39, #D14836);
	background-image: linear-gradient(top, #DD4B39, #D14836);
	opacity: 0.3;
}

#ModifyEventButton {
    position: absolute;
    top: 160px;
    left: 340px;
    background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7A19', endColorstr='#EC6400');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF7A19), to(#EC6400));
	background-image: -webkit-linear-gradient(top, #FF7A19, #EC6400);
	background-image: -moz-linear-gradient(top, #FF7A19, #EC6400);
	background-image: -o-linear-gradient(top, #FF7A19, #EC6400);
	background-image: -ms-linear-gradient(top, #FF7A19, #EC6400);
	background-image: linear-gradient(top, #FF7A19, #EC6400);
	opacity: 0.3;
}

#SwitchViewButton {
	position: absolute;
    top: 160px;
    right: 20px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid rgb(200,200,200);
    font-size: 18px;
    cursor: pointer;
    background-image: url('../images/switch_button.png');
    background-position: -2px -2px;
    
}

#SwitchViewButton:hover {
	box-shadow: 0px 0px 8px orange;
}

#Month {
	position: absolute;
	top: 448px;
	left: 600px;
	padding: 6px;
	width: 140px;
	height: 20px;
	background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7A19', endColorstr='#EC6400');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF7A19), to(#EC6400));
	background-image: -webkit-linear-gradient(top, #FF7A19, #EC6400);
	background-image: -moz-linear-gradient(top, #FF7A19, #EC6400);
	background-image: -o-linear-gradient(top, #FF7A19, #EC6400);
	background-image: -ms-linear-gradient(top, #FF7A19, #EC6400);
	background-image: linear-gradient(top, #FF7A19, #EC6400);
	color: white;
	border-top-right-radius: 4px;
	text-align: center;
	border-top-left-radius: 4px;
	
	
}



#Content {
    height: 480px;
    overflow: hidden;
    border: 1px solid rgb(200,200,200);
    box-shadow: 0px 8px 4px -4px rgb(200,200,200);
    border-radius: 4px;
}



#TimelineWrap {
    width: 1280px;
    height: 480px;
    position: relative;  
    display: none; 
}

#Timeline {
	position: absolute; 
	left: 0px;
	top: 0px;
}

#TimelineWrap .CanvasEvent {
	position: absolute;
	
	z-index: 10;	
	width: 120px;
	height: 80px;
	border: 1px solid #F78121;
	border-radius: 4px;
	background-color: white;
	box-shadow: 4px 4px 4px rgb(200,200,200);
	cursor: pointer;
}

.CanvasEventTitle {
	text-align: center;
	padding: 4px;
	color: white;
	background-color: #F78121;	
	
}

.CanvasEventNotes {
	overflow: hidden;
	padding: 4px;
	font-size: 10px;
	
}

#EventList {
    height: 480px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;

}

.DateTitle {
    margin-top: 20px;
    font-size: 16px;
    border-bottom: 1px solid rgb(200,200,200);
    font-weight: bold;
}

#NotificationBar {
    height: 20px;
    position: relative;
    display: none;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
    width: 400px;
    margin: 0 auto;
     background-color: #4DB849;
     padding: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4DB849', endColorstr='#88CA86');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#88CA86), to(#4DB849));
	background-image: -webkit-linear-gradient(top, #88CA86, #4DB849);
	background-image: -moz-linear-gradient(top, #88CA86, #4DB849);
	background-image: -o-linear-gradient(top, #88CA86, #4DB849);
	background-image: -ms-linear-gradient(top, #88CA86, #4DB849);
	background-image: linear-gradient(top, #88CA86, #4DB849);
}

/*EVENT STUFF*/

.Event {
	border: 1px solid #4D90FD;
	margin-top: 14px;
	border-radius: 3px;
	cursor: pointer;
	color: rgb(100,100,100);
	box-shadow: 0px 8px 4px -4px rgb(200,200,200);
	
}

.Event:hover {
	box-shadow: 0px 0px 8px orange;
}

.Event span {
	color: rgb(80,80,80);
	
}

.EventDate {
	padding: 6px;
	background-color: #4D90FD;
	
	font-size: 16px;
	color: white;
}

.EventTitle {
	padding: 6px;
	font-size: 20px;
}

.EventHidden {
	display: none;
}

.EventPostSecondaryName {
	padding: 6px;
}

.EventStartDate {
	display: inline-block;
	padding: 6px;
	color: #4DB849;
}

.EventEndDate {
	margin-left: 60px;
	display: inline-block;
	padding: 6px;
	color: #4D90FD;
}

.EventNotes {
	Padding: 6px;
}


.ActiveEvent {
	border: 1px solid #FFA019;
	box-shadow: 0px 0px 8px orange;
}

.ActiveEvent .EventDate {
	background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA019', endColorstr='#FF8019');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA019), to(#FF8019));
	background-image: -webkit-linear-gradient(top, #FFA019, #FF8019);
	background-image: -moz-linear-gradient(top, #FFA019, #FF8019);
	background-image: -o-linear-gradient(top, #FFA019, #FF8019);
	background-image: -ms-linear-gradient(top, #FFA019, #FF8019);
	background-image: linear-gradient(top, #FFA019, #FF8019);
	
}