/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start of my code
*/

body {
    width: 1280px;
    margin: 0 auto; 
    font-variant: small-caps;
}

#LightBox {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 100;	
	display: none;
}

#CreateEventFormContainer {
	display: none;
}

.FormContainer {
	padding: 20px;
	background-color: white;
	border: 1px solid rgb(200,200,200);
	width: 600px;	
	margin: 0 auto;
	margin-top: 300px;
	border-radius: 8px;
	box-shadow: 0px 8px 8px -8px rgb(240,240,240);
}

.colorpicker{
	z-index: 101;
}

.FormTitle {
	font-size: 18px;
}

.Label {
	width: 100px;
	display: inline-block;
}

.SubmitButton {
	width: 140px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    border: 1px solid rgb(200,200,200);
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FD', endColorstr='#4787ED');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4D90FD), to(#4787ED));
	background-image: -webkit-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -moz-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -o-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -ms-linear-gradient(top, #4D90FD, #4787ED);
	background-image: linear-gradient(top, #4D90FD, #4787ED);
	color: white;
}

textarea {
	border-radius: 4px;
	padding: 10px;
	width: 580px;
	border: 1px solid rgb(200,200,200);
	box-shadow: 0px 8px 8px -8px rgb(240,240,240);
	max-width: 580px;
}

.FormContainer input {
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px -4px rgb(200,200,200);
	border: 1px solid rgb(200,200,200);
	margin-left: 20px;
	margin-right: 20px;
}

#Header {
    height: 200px;
    position: relative;
    
}

#UserButton {
    position: absolute;
    top: 0px;
    right: 20px;
    padding: 26px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid rgb(200,200,200);
}

.ActionButton {
    position: absolute;
    width: 140px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    border: 1px solid rgb(200,200,200);
    cursor: pointer;
    color: white;
}

#CreateEventButton {
    position: absolute;
    top: 160px;
    left: 20px;
    background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FD', endColorstr='#4787ED');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4D90FD), to(#4787ED));
	background-image: -webkit-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -moz-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -o-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -ms-linear-gradient(top, #4D90FD, #4787ED);
	background-image: linear-gradient(top, #4D90FD, #4787ED);

}

#DeleteEventButton {
    position: absolute;
    top: 160px;
    left: 180px;
    background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD4B39', endColorstr='#D14836');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#DD4B39), to(#D14836));
	background-image: -webkit-linear-gradient(top, #DD4B39, #D14836);
	background-image: -moz-linear-gradient(top, #DD4B39, #D14836);
	background-image: -o-linear-gradient(top, #DD4B39, #D14836);
	background-image: -ms-linear-gradient(top, #DD4B39, #D14836);
	background-image: linear-gradient(top, #DD4B39, #D14836);
}



#Content {
    height: 480px;
    overflow: hidden;
    border: 1px solid rgb(200,200,200);
    box-shadow: 0px 8px 4px -4px rgb(200,200,200);
    border-radius: 4px;
}

#Timeline {
    width: 5120px;
    height: 480px;
    display: none;
}

#EventList {
    height: 480px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

.DateTitle {
    margin-top: 20px;
    font-size: 16px;
    border-bottom: 1px solid rgb(200,200,200);
    font-weight: bold;
}

#NotificationBar {
    height: 40px;
    position: relative;
}